/* You can add global styles to this file, and also import other style files */
body { padding-top: 90px; }
.form-control{
    background-clip: border-box!important
}
article{
    max-height:16rem;
    overflow: hidden;
}
.progress.fixed-top{
    margin-top:56px;
}